@utility focus-ring {
  &:focus-visible {
    outline: 0.14em solid var(--focus-ring-color, currentColor);
    outline-offset: 0.125em;
  }
}

@utility focus-ring-purple-600 {
  --focus-ring-color: var(--color-purple-600);
}

@utility focus-ring-grey-500 {
  --focus-ring-color: var(--color-grey-500);
}

@utility focus-ring-pink-400 {
  --focus-ring-color: var(--color-pink-400);
}